[Unit]
Description=Temperature Monitor Service
After=network.target
Wants=temperature-monitor.timer

[Service]
Type=oneshot
User=mstadelman
WorkingDirectory=/opt/pool-monitor-pi
ExecStart=/home/mstadelman/temperature-monitor.sh
EnvironmentFile=/opt/pool-monitor-pi/env

[Install]
WantedBy=multi-user.target
